In [4]:
import pandas as pd
raw_data = {
        'Year': ['1938', '1938', '1938', '1938', '1938', '1938', '1938', '1938', '1938', 
                 '1938', '1938', '1938', '1938', '1938', '1938', '1938', '1938',
                 '1939', '1939', '1939', '1939', '1939', '1939', '1939', '1939', '1939',
                 '1939', '1939', '1939', '1939', '1939', '1939', '1939', '1939', '1939',
                 '1939', '1939'],
        'Latitude':  [31.192552, 31.392552, 31.192552, 31.002552, 31.192552, 31.392552, 31.002552,
                      31.392552, 31.002552, 31.592552, 31.192552, 30.802552, 31.192552, 31.592552,
                      30.802552, 31.592552, 30.802552,
                     
                      22.407254, 22.884921, 22.551552, 
    
                      31.192552, 31.392552, 31.192552, 31.002552, 31.192552, 31.392552, 31.002552,
                      31.392552, 31.002552, 31.592552, 31.192552, 30.802552, 31.192552, 31.592552,
                      30.802552, 31.592552, 30.802552],
    
        'Longitude': [121.501759, 121.501759, 121.701759, 121.501759, 121.301759, 121.701759, 121.301759,
                      121.301759, 121.701759, 121.501759, 121.901759, 121.501759, 121.101759, 121.901759,
                      121.101759, 121.101759, 121.901759,
                     
                      114.135371, 114.425390, 113.533023,
                     
                      121.501759, 121.501759, 121.701759, 121.501759, 121.301759, 121.701759, 121.301759,
                      121.301759, 121.701759, 121.501759, 121.901759, 121.501759, 121.101759, 121.901759,
                      121.101759, 121.101759, 121.901759]}
df_acc = pd.DataFrame(raw_data, columns = ['Year', 'Latitude', 'Longitude'])
df_acc

    Year   Latitude   Longitude
0   1938  31.192552  121.501759
1   1938  31.392552  121.501759
2   1938  31.192552  121.701759
3   1938  31.002552  121.501759
4   1938  31.192552  121.301759
5   1938  31.392552  121.701759
6   1938  31.002552  121.301759
7   1938  31.392552  121.301759
8   1938  31.002552  121.701759
9   1938  31.592552  121.501759
10  1938  31.192552  121.901759
11  1938  30.802552  121.501759
12  1938  31.192552  121.101759
13  1938  31.592552  121.901759
14  1938  30.802552  121.101759
15  1938  31.592552  121.101759
16  1938  30.802552  121.901759
17  1939  22.407254  114.135371
18  1939  22.884921  114.425390
19  1939  22.551552  113.533023
20  1939  31.192552  121.501759
21  1939  31.392552  121.501759
22  1939  31.192552  121.701759
23  1939  31.002552  121.501759
24  1939  31.192552  121.301759
25  1939  31.392552  121.701759
26  1939  31.002552  121.301759
27  1939  31.392552  121.301759
28  1939  31.002552  121.701759
29  1939  31.592552  121.501759
30  1939  31.192552  121.901759
31  1939  30.802552  121.501759
32  1939  31.192552  121.101759
33  1939  31.592552  121.901759
34  1939  30.802552  121.101759
35  1939  31.592552  121.101759
36  1939  30.802552  121.901759